@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans|Bangers|Caveat|Dancing+Script|Fira+Sans+Extra+Condensed|Great+Vibes|Heebo|Josefin+Sans|Lato|Merienda|Montserrat|Mrs+Sheppards|Noto+Sans+TC|Noto+Serif+TC|Old+Standard+TT|Open+Sans|Open+Sans+Condensed:300|Playball|Poiret+One|Roboto");
@media screen and (max-width: 1024px) {
  * {
    line-height: normal !important; }
  section .btn-light, section .btn-info {
    background-color: #535661; }
    section .btn-light a, section .btn-info a {
      text-decoration: none; }
  section .btn-primary {
    background-color: #84B1ED;
    border: #84B1ED; }
  section#About .me2 {
    margin-top: 20%; }
  section#About .title {
    padding-top: 30px; }
  section#Project .newDown {
    padding-top: 100px;
    padding-left: 5%; }
  section#Project .contentText {
    padding-top: 10px; }
  section#Project .contentText2 {
    padding-top: 10px; }
  section#Project .LR {
    display: none; }
  section#Project .Top30 {
    padding-top: 30px; }
  section#Project .ipadPhoto, section#Project .newPe, section#Project .UIX {
    display: none; }
  section#Project2 .smallDown {
    padding-top: 30px; }
  section#Project2 .ani12 {
    display: none; }
  section#study .onWeb {
    display: none; }
  section#study .onMobile {
    display: block;
    border-bottom: rgba(255, 255, 255, 0.5) solid 4px; }
  section#UI {
    background: linear-gradient(to bottom, #88CEB6 0%, #FFB1B1 100%) !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; }
    section#UI .boxs {
      position: relative;
      width: 100%;
      height: 65vh;
      margin-left: 0px; }
  section#bot .gif {
    width: 95% !important;
    height: auto;
    padding: 10px; }
  section#bot .gifs {
    padding-top: 80px; }
  section#Contact .embed-responsive-4by3 {
    height: 440px; }
  section#Contact iframe {
    margin-top: -10px !important;
    width: 80%;
    height: 350px !important; } }
